name: MLOps-CI-Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Model Training Test
      run: |
        # Yahan hum check karenge ki kya script bina crash hue chalti hai
        # Abhi ke liye hum sirf ek simple test run kar rahe hain
        python -c "print('CI Pipeline working successfully!')"